# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=[bootstrap-servers]
security.protocol=SASL_SSL
sasl.jaas.config=[sasl-config]
sasl.mechanism=PLAIN
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for higher availability in Apache Kafka clients prior to 3.0
session.timeout.ms=45000

# Best practice for Kafka producer to prevent data loss
acks=all

# Schema Registry connection configs
schema.registry.url=[schema-registry-endpoint]
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=[schema-registry-api-key]:[schema-registry-api-secret]